{% extends 'default.html' %}

{% block content %}
<h1>Страница пользователя {{request.user.username}}</h1>
<a href="{% url 'responses' %}">Отклики на объявления</a>
<br>
<br>
{% if request.user.is_superuser %}
<form action="{% url 'send_news' %}" method="POST">
    {% csrf_token %}
<!--<a href="{% url 'send_news' %}">Отправить еженедельную рассылку</a>-->
    <label for="number">Рассылка объявлений за последние</label>
    <input type="number" id="number" name="Num_of_days" min="0" max="10000">
    дней.
    <input type="submit" value="Отправить рассылку">
</form>
{% endif %}
<br>
<br>
<button><a href="{% url 'logout' %}">Выйти</a></button>
{% endblock %}
