{% extends 'default.html' %}

{% block title %}
Notices
{% endblock title %}

{% block content %}
<h1>Все объявления</h1>
    <h3>Количество объялений: {{ notices|length }}</h3>
    <hr>
    {% if notices %}
    <table>
        <tr>
            <td>
                Заголовок
            </td>
            <td>
                Дата публикации
            </td>
            <td>
                Превью
            </td>
            <td>
                Автор
            </td>
            <td>
                Категория
            </td>
        </tr>
    {% for notice in notices %}
        <tr>
            <td>
                <a href="{% url 'notice_detail' notice.id %}">{{ notice.noticeTitle }}</a>
                <a href="{% url 'notice_delete' notice.id %}"><u> Удалить</u></a>
            </td>
            <td>
                {{ notice.noticeDate|date:'d M Y h:m' }}
            </td>
            <td>
                {{ notice.noticeText }}
            </td>
            <td>
                {{ notice.noticeAuthor.username }}
            </td>
            <td>
                {{ notice.noticeCategory }}
            </td>
        </tr>
    {% endfor %}
    </table>
    {% else %} <!-- Если объявлений нет, то говорим что объявлений нет ;) -->
    <h2>Объявлений!</h2>
    {% endif %}
<br>

{% endblock content %}
