{% extends 'default.html' %}

{% block title %}
Notices
{% endblock title %}

{% block content %}
<h1>Все объявления</h1>
    <h3>Количество объялений: {{ notices|length }}</h3>
    <hr>
    {% if notices %}
    <table>
        {% for notice in notices %}
        <tr>
            <td>
                <a href="{% url 'notice_detail' notice.id %}">{{ notice.noticeTitle }}</a>
            </td>
            <td>
                {{ notice.noticeText|safe }}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %} <!-- Если объявлений нет, то говорим что объявлений нет ;) -->
    <h2>Объявлений нет!</h2>
    {% endif %}
<br>

{% endblock content %}
