{% extends 'default.html' %}

{% block title %}
Объявление
{% endblock title %}

{% block content %}
<table>
        <tr>
            <td>
                Заголовок
            </td>
            <td>
                Дата публикации
            </td>
            <td>
                Категория
            </td>
            <td>
                Автор
            </td>
            <td>
                Содержание
            </td>
            <td>
                Удаление
            </td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'notice_detail' notice.id %}">{{ notice.noticeTitle }}</a>
            </td>
            <td>
                {{ notice.noticeDate|date:'d M Y h:m' }}
            </td>
            <td>
                {{ notice.noticeCategory }}
            </td>
            <td>
                {{ notice.noticeAuthor.username }}
            </td>
            <td>
                {{ notice.noticeText|safe }}
            </td>
            <td>
                <a href="{% url 'notice_update' notice.id %}"><u>Редактировать</u></a>
                <br>
                <a href="{% url 'notice_delete' notice.id %}"><u> Удалить</u></a>
            </td>
        </tr>
    </table>
{% endblock content %}
