{% extends 'default.html' %}

{% block title %}
Notices
{% endblock title %}

{% block content %}
<h1>Все объявления</h1>
    <h3>Количество объялений: {{ notices|length }}</h3>
    <hr>
    {% if notices %}
    <table>
        {% for notice in notices %}
        <tr>
            <td>
                <a href="{% url 'notice_detail' notice.id %}">{{ notice.noticeTitle }}</a>
            </td>
            <td>
                {{ notice.noticeText|safe }}
            </td>
            <td>
                <a href="{% url 'response_create' notice.id %}"f><u>Комментировать</u></a>
                <br>
                {% if author_user.id == notice.noticeAuthor_id %}
                <a href="{% url 'notice_update' notice.id %}"><u>Редактировать</u></a>
                <br>
                <a href="{% url 'notice_delete' notice.id %}"><u>Удалить</u></a>
                {% endif %}
            </td>
        </tr>
        <br>
        {% endfor %}
    </table>
    {% else %} <!-- Если объявлений нет, то говорим что объявлений нет ;) -->
    <h2>Объявлений нет!</h2>
    {% endif %}
<br>
    {% if is_paginated %}
        {% if page_obj.has_previous %}
            <a href="?page=1">First</a>
            <a href="?page={{ page_obj.previous_page_number }}"><<<</a>
    {% endif %}
    {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
            <a>{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}">{{ num }}</a>
        {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">>>></a>
        <a href="?page={{ page_obj.paginator.num_pages }}">Last</a>
    {% endif %}
{% endif %}
<br>
{% endblock content %}
