{% extends 'default.html' %}

{% block title %} Responses list {% endblock title %}

{% block content %}
<form method="GET">
    {{ filter.form }}
    <input type="submit" value="Найти">
</form>
{{ error_mess }}
<h2>Все отклики</h2>
{% if responses %}
<table>
    <tr>
        <td>
            Отклик на:
        </td>
        <td>
            Текст отклика:
        </td>
        <td>
            Автор отклика:
        </td>
        <td>
            Принять отклик
        </td>
        <td>
            Удалить отклик
        </td>
    </tr>
    {% for response in filter.qs %}
    {% if author_user.id == response.responseNotice.noticeAuthor_id %}
    <tr>
        <td>
            {{ response.responseNotice.noticeTitle }}
        </td>
        <td>
            {{ response.responseText }}
        </td>
        <td>
            {{ response.responseAuthor }}
        </td>
        <td>
            {% if response.responseAdmission == False %}
             <button><a href="{% url 'admit_response' response.id %}">Принять отклик</a></button>
            {% else %}
            Отклик принят
            {% endif %}
        </td>
        <td>
            <button><a href="{% url 'response_delete' response.id %}">Удалить отклик</a></button>
        </td>
    </tr>
    {% endif %}
    {% endfor %}
</table>
{% endif %}
<br>

<a href="{% url 'main' %}">На главную</a>
{% endblock content %}
