{% extends 'default.html' %}

{% block title %} Response created {% endblock title %}

{% block content %}
<h2>Отклик создан.</h2>
<table>
    <tr>
        <td>
            Текст отклика:
        </td>
        <td>
            {{ response.responseText }}

        </td>
    </tr>
    <tr>
        <td>
            Автор:
        </td>
        <td>
            {{ response.responseAuthor }}
        </td>
    </tr>
    <tr>
        <td>
            Отклик на:
        </td>
        <td>
            {{ response.responseNotice.noticeTitle }}
        </td>
    </tr>
</table>
<br>

<a href="{% url 'main' %}">На главную</a>
{% endblock content %}
